<nav id="navigation">
	<%= image_tag "logo-PassionSM", :class => "img-circle"%>
	<div class="container-nav">
		<div class="left-nav">
			<a href="">Griffes</a>
			<a href="">Cilices</a>
			<a href="">Martinets</a>
			<a href="">Bijoux</a>
		</div>
		<div class="right-nav">
			<a href="">À propos</a>
			<a href="">Contact</a>
		</div>
	</div>
</nav>

<section class="banner">
	
</section>

<section class="container-grid-2">
	<div class="card">
		<%= image_tag "NANI2504"%>
		<p>some text</p>
	</div>
	<div class="card">
		<p>some text</p>
	</div>
	<div class="card">
		<p>some text</p>
	</div>
	<div class="card">
		<p>some text</p>
	</div>
</section>










<div class="container">
  <div class= "item">
  	<!--

	<%= image_tag "", :class => "img-circle"%> 

-->

	<h1>Hi, i'm Vanessa</h1>
	<p> 
		I'm a french developer:  Back-end programming in Ruby, Rails framework (MVC Pattern), relationnal databases (SQL, PostgreSQL), Front-end programming in HTML5, CSS3 & Javascript(ES6), Product design (UX/UI, wireframe & mockups) 
		<a href="mailto:vanmassiot@gmail.com">Contact</a>
	</p>
	</div>

	<div class="item item-b">
		<p> I like minimalist app, clean code, and go straight to the point to be efficient. You can see all my projects here <a href="mailto:vanessa.massiot@free.fr">>></a> </p>
	</div>

</div>
